#contact {
  background-color: $primary;
  label {
    color: white;
  }
  .form-control {
    // transition: 0.2s;
  }
  .form-control:focus {
    border-color: $secondary;
    box-shadow: 0 0 10px 1px $secondary;
  }
  textarea.form-control {
    height: 241px;
  }
  ::placeholder {
    font-weight: 700;
    color: #D4D7DD;
  }
}

