.hero {
  color: white;
  height: 100vh;
  background-image: url('../assets/images/Hero_cover.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  .hero__text {
    font-size: 5em;
    text-shadow: 0 0 30px $secondary;
    @include titles-font;
    font-weight: 700;
  }
  .hero__button {
    color: white;
    font-size: 2.5em;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    padding: .3em 2em;
    background-color: $secondary;
    border: 1px solid transparent;
    border-radius: .5em;
    box-shadow: 0 6px $secondary-dark;
    outline: none;
    position: relative;
    &:hover {
      box-shadow: 0 4px $secondary-dark;
      top: 2px;
    }
    &:active {
      box-shadow: none;
      top: 6px;
    }
  }
}
